<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 打印sql执行日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 重命名mybaties映射时的实体类 -->
    <typeAliases>
        <typeAlias type="com.xpl.entity.po.UserInfoPO" alias="UserInfoPO"/>
    </typeAliases>
</configuration>